/* message preview container */
._1ht1 {
	display: block !important;
	height: auto !important;
	padding-top: 12px;
	padding-bottom: 12px;
}

/* preview image */
._1qt3 {
	align-items: normal !important;
}

/* preview text */
._1htf {
	height: auto !important;
	overflow: visible !important;
	white-space: pre-line !important;
}
