/* preview text */
.ltmttdrg {
  height: auto !important;
  overflow: visible !important;
  white-space: pre-line !important;
}

/* timestamp */
.g0qnabr5:not(.ltmttdrg) {
  white-space: nowrap !important;
}
